/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: #222;
  background: url('images/trail-run-faded.jpg') no-repeat bottom center ;
  background-size: cover;
  overflow: scroll;
}

body p{
  font-family: 'Open Sans Condensed', sans-serif;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
}

header {
  text-align: left;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin: 30px 30px 0 30px;
  width: 75px;
  height: 75px;
  border-radius: 15%;
  border: 4px solid black;
  transition: all .5s;
}
.tag {
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: -20px 25px;
  font-size: 1.2em;
} 
.card h2 {
  color: black;
  font-size: 1.2em;
}
.card {
  margin: 30px;
  padding: 20px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}
.card:hover {
  border-color: #ff99ff;
}

main .design-example {
  margin: 20px 10% 20px 10%;
  width: 80%;
}

footer {
  background-color: #777;
  color: white;
  width: 15%;
  margin: 30px auto;
  border-radius: 6px;
  min-height: 30px;
  min-width: 200px;
  padding: 10px 0 10px 0px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 660px) {
  main .design-example {
    width:40%;
    max-width:350px;
    margin: 15px 20px 15px 20px;
    }
  }
  
  
@media screen and (min-width: 720px) {
  
  header .profile-image {
     width: 100px;
    height: 100px;
  }
  
  .card {
    max-width: 80%;
    margin: 30px auto;
  }

  .card h2 {
    font-size: 1.5em;
  }
  
  header {
    min-height: 75px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

